@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Planner</h1>
    <p>Keep track of upcoming events in your school work schedule across your differect classes.</p>
    <p>Create, Review, Update and Remove: Courses, Assignment Types and Homework.</p>
</div>
